<!DOCTYPE html>

<html itemscope="" itemtype="http://schema.org/WebPage" lang="ru-BY">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description"/>
    <meta name="keywords" content="@ViewBag.KeyWords"/>

    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bundle.min.css"/>
    @await RenderSectionAsync("Css", false)

</head>
<body>
<div class="wrapper">
    <header>
        <nav id="menu" class="d-flex flex-wrap">
            <div class="d-flex align-items-center container-xl p-0">
                <div class="d-none d-sm-flex col-1 col-md-4">
                    <img class="bar-logo" src="~/img/green_logo70x70.png" height="70" width="70" alt="Угугушка"/>
                    <div class="logo-header flex-column justify-content-center pl-3">
                        <span class="d-flex">Ugugushka.by</span>
                        <span class="d-flex">Интернет-магазин игрушек</span>
                    </div>
                </div>
                <div class="col-7 col-md-5">
                    <form class="search-block">
                        <input class="form-control search-input" type="text" placeholder="Поиск игрушек"/>
                        <button class="btn search-btn" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="icon-links d-flex align-items-center ml-auto">
                    @await Component.InvokeAsync("CartButton")
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-borderless d-flex" href="@Url.Action("Login", "Account")">
                            <i class="fas fa-user"></i>
                            <span class="bar-hide">Войти</span>
                        </a>
                    }
                    else
                    {
                        @using (Html.BeginForm("Logout", "Account", new {ReturnUrl = Context.Request.Path}, FormMethod.Post, true, new {@class = "d-flex"}))
                        {
                            <button class="btn btn-borderless d-flex" href="@Url.Action("Login", "Account")">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="bar-hide">Выйти</span>
                            </button>
                        }
                    }
                    <div onclick="showBar()" class="btn btn-borderless show-bar-btn">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
            </div>
            <div id="barItems" class="menu-links col-12">
                <div class="d-flex container-xl">
                    <a class="btn btn-borderless close" href="javascript:void(0)" onclick="showBar()"><i class="fas fa-times"></i></a>
                    <a href="@Url.Action("Index", "Home")"><i class="fas fa-home mr-3 mr-md-2"></i>Главная</a>
                    @await Component.InvokeAsync("CatalogButton")
                    <a href="@Url.Action("Contacts", "Home")"><i class="fas fa-map-marker-alt mr-3 mr-md-2"></i>Контакты</a>
                    @if (User.IsInRole(RoleDefaults.Admin))
                    {
                <div class="dropdown">
                    <button class="btn"><i class="fas fa-cog mr-3 mr-md-2"></i>Управление</button>
                    <div class="dropdown-content">
                        <a href="@Url.Action("Toys", "Admin")">Игрушки</a>
                        <a href="@Url.Action("Orders", "Admin")">Заказы</a>
                        <a href="@Url.Action("Partitions", "Admin")">Разделы</a>
                        <a href="@Url.Action("Categories", "Admin")">Категории</a>
                    </div>
                </div>
                        
                    }
                </div>
            </div>
            <div id="barBack" class="bar-back"></div>
        </nav>
        </header>

        <main class="container-lg container-xl">
            @RenderBody()
        </main>
    </div>

<footer class="d-flex justify-content-center align-items-center">
    <div class="d-flex">
        2020 &copy; Ugugushka.by &mdash; Интернет-магазин игрушек
    </div>
</footer>
<script type="text/javascript">
    function showBar(){
        const x = document.getElementById("barItems");
        const back = document.getElementById("barBack");
        if (x.className === "menu-links col-12") {
            x.className += " responsive";
            back.style = "display:block;";
        } else {
            x.className = "menu-links col-12";
            back.style = "display:none;";
        }
    }
</script>
@await RenderSectionAsync("PageScripts", false)
</body>
</html>