@using Ugugushka.WebUI.HtmlHelpers
@model IPagedResult<ToyItemViewModel>
@{
    ViewBag.Title = PageNameDefaults.AdminToys.WithDomain();
}

<div class="card mt-5">
    <div class="card-header">
        <div class="row align-items-center">
            <h2 class="d-flex col-5">Игрушки (@Model.TotalItems)</h2>
            <a class="ml-auto mr-4 btn btn-secondary" href="@Url.Action("AddToy", "Admin")">Добавить</a>
        </div>
    </div>

    @if (TempData["message"] != null)
    {
    <div class="alert alert-success">
        @TempData["message"]
    </div>
    }
    <table class="table mt-3">
        <thead>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Раздел</th>
            <th>Цена, руб.</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var toy in Model.Items)
        {
            <tr>
                <td>@toy.Name</td>
                <td>@Html.DefaultString(toy.CategoryName, "Нет")</td>
                <td>@Html.DefaultString(toy.PartitionName, "Нет")</td>
                <td>@toy.Price</td>
                <td>
                    @Html.ActionLink("Изменить","EditToy" , new {Id = toy.Id}, new {@class = "btn-link"})
                    @using (Html.BeginForm("Delete", "Admin"))
                    {
                        @Html.Hidden("Id", toy.Id)
                        <input class="btn-link ml-2" type="submit" value="Удалить"/>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="d-flex align-self-center mt-3">
        @Html.PageLinks(@Model.PageNumber, @Model.TotalPages, "btn-secondary", x => Url.Action("Toys", new {page = x}))
    </div>
</div>

