@model CartIndexViewModel
@{
    ViewBag.Title = "Корзина";
}

<div>
    <table>
        <thead>
        <tr>
            <th>Кол-во</th>
            <th>Товар</th>
            <th>Цена, р.</th>
            <th>Сумма, р.</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td>@line.Quantity</td>
                <td>@line.Toy.Name</td>
                <td>@line.Toy.Price</td>
                <td>@(line.Quantity * line.Toy.Price)</td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Итого:</td>
            <td>@Model.Cart.ComputeTotalValue()</td>
        </tr>
        </tfoot>
    </table>
    
    <div>
        <a href="@Model.ReturnUrl">Продолжить покупки</a>
    </div>
</div>

