@using Ugugushka.WebUI.Code.Extensions
@using Ugugushka.WebUI.HtmlHelpers
@model HomeIndexViewModel
@{
    ViewBag.Title = $"{PageNameDefaults.Main} - стр. {Model.PagedToys.PageNumber}".WithDomain();
    ViewBag.Description = "Каталог интернет-магазина детских игрушек Ugugushka в Минске";
    ViewBag.KeyWords = $"каталог {PageNameDefaults.KeyWords}";
}

@await Component.InvokeAsync("SearchBreadCrumb")

<section class="mb-5">
    <div class="d-flex align-content-stretch justify-content-center flex-wrap">
        @foreach (var toy in Model.PagedToys.Items)
        {
            <div class="d-flex justify-content-center col-12 col-sm-6 col-md-4 col-lg-3 pr-sm-1">
                <a class="toy-item d-flex flex-column" href="@Url.Action("ToyInfo", new { id = toy.Id })">
                    <img class="d-flex toy-img" src="@Model.Cloudinary.BuildImgUrl(toy.MainImage.PublicId, toy.MainImage.Format, 300, 300)" alt="@toy.Name"/>
                    <div class="toy-text">
                        <h2 class="d-flex toy-header">@toy.Name</h2>
                        <span class="d-flex mt-auto toy-price">@toy.Price р.</span>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="d-flex justify-content-center">
        @Html.CreatePageLinks(Model.PagedToys.PageNumber, Model.PagedToys.TotalPages, x => Url.Action("Index", new { page = x }))
    </div>
</section>
