@model ToyInfoViewModel
@{
    ViewBag.Title = Model.Toy.Name;
}

<div class="row mt-5">
    <div class="d-flex col-6 flex-column">
        <div class="d-flex">
            <img class="toy-image-main" src="@Model.Cloudinary.Api.UrlImgUp.Format(Model.Toy.MainImage.Format).BuildUrl(Model.Toy.MainImage.PublicId)" />
        </div>
        <div class="d-flex justify-content-center align-items-center">
            @foreach (var img in Model.Toy.ExtraImages)
            {
                <div class="col-2">
                    <img class="toy-image-thumb" src="@Model.Cloudinary.Api.UrlImgUp.Format(img.Format).BuildUrl(img.PublicId)" />
                </div>
            }
        </div>
    </div>
    <div class="col-6 d-flex flex-column card">
        <div class="d-flex card-header">
            <h1>@Model.Toy.Name</h1>
        </div>
        <div class="d-flex mt-2 card-text">
            @Model.Toy.Description
        </div>
        <div class="d-flex mt-2 card-price">
            @Model.Toy.Price р.
        </div>
        @using (Html.BeginForm("AddToCart", "Cart", new { ReturnUrl = Context.Request.Path }, FormMethod.Post, true, new { @class = "card-actions" }))
        {
            @Html.Hidden("Id", @Model.Toy.Id)
            <div class="d-flex flex-column form-group">
                @Html.LabelFor(x => x.Quantity, htmlAttributes: new { @class = "d-flex mb-2" })
                @Html.TextBoxFor(x => x.Quantity, null, new { @class = "form-control text-input" })
                @Html.ValidationMessageFor(x => x.Quantity)
            </div>
            <input type="submit" class="d-flex btn btn-turkquoise mt-2" value="В корзину" />
        }
    </div>
</div>